*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    transition: .1s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    width: 100vw;
    overflow-y: auto;
}

body::-webkit-scrollbar{
    width: 1.5rem; /* pending: do not work on Firefox */
}

body::-webkit-scrollbar-track{
    padding: 0 1rem;/* pending: do not work */
}

body::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    border: .4rem solid #fff;
    background-color: rgba(0,0,0,.5);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0,0,0,.1);
}

/* navigation bar */

.left-navbar .navbar{
    position: fixed;
    top: 0; left: -24rem;
    width: 24rem;
    background-color: #fff;
    z-index: 100;
    height: 100vh;
    overflow-y: auto;
}

.left-navbar #toggler:checked ~ .navbar{
    left: 0;
}

.left-navbar #toggler:checked ~ label .close2{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0; height: 100%;
    left: 0; right: 0; 
    z-index: 99;
}

.left-navbar .navbar .navbar-sub{
    border-bottom: .1rem solid rgba(0,0,0,.1);
    padding: .8rem 0;
}

.left-navbar .navbar .navbar-sub:first-child{
    height: 5.6rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.left-navbar .navbar .navbar-sub:first-child label .close1{
    position: absolute;
    left: 1.6rem;
    top: .8rem;
    color: #333;
    padding: .8rem;
    cursor: pointer;
    border-radius: 50%;
}

.left-navbar .navbar .navbar-sub:first-child label .close1:active{
    background-color: rgba(0,0,0,.1);
}

.left-navbar .navbar .navbar-sub:first-child img{
    margin-left: 8.8rem;
}

.left-navbar .navbar .navbar-sub a{
    display: flex;
    color: #333;
    font-size: 1.4rem;
    align-items: center;
    padding: 0 2.4rem;
    line-height: 4rem;
}

.left-navbar .navbar .navbar-sub a:hover{
    background-color: rgba(0,0,0,.15);
}

.left-navbar .navbar .navbar-sub a .material-icons{
    color: #666;
    margin-right: 2.4rem;
}
.left-navbar .navbar .navbar-sub .active{
    background-color: rgba(0,0,0,.15);
    color: #333;
    font-weight: bold;
}

.left-navbar .navbar .navbar-sub .active i{
    color: red;
}

.left-navbar .navbar .navbar-sub h3{
    padding: .8rem 2.4rem;
    color: #666;
    font-size: 1.4rem;
}

.left-navbar .navbar .navbar-sub-sign{
    border-bottom: .1rem solid rgba(0,0,0,.1);
    padding: 1.6rem 3.2rem;
}

.left-navbar .navbar .navbar-sub-sign p{
    font-size: 1.4rem;
    color: #333;
    line-height: 1.5;
    padding-bottom: 1.3rem;
}

.left-navbar .navbar .navbar-sub-sign .sign-in{
    padding: .5rem 1.5rem;
    border: .1rem solid #065fd4;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    color: #065fd4;
    font-weight: bolder;
    width: fit-content;
}

.left-navbar .navbar .navbar-sub-sign .sign-in span{
    margin-left: .8rem;
    font-size: 1.4rem;
}

.left-navbar .navbar .navbar-sub-list{
    border-bottom: .1rem solid rgba(0,0,0,.1);
    padding: .4rem 2.4rem;
}

.left-navbar .navbar .navbar-sub-list .list{
    padding-top: 1.2rem;
}

.left-navbar .navbar .navbar-sub-list .list a{
    color: #666;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: .8rem;
    line-height: 1.5;
}

.left-navbar .navbar .navbar-sub-list span{
    display: inline-block;
    padding: 1.6rem 0;
    font-size: 1.2rem;
    color: #999;
}

.left-navbar .navbar::-webkit-scrollbar{
    width: 1.5rem;
}

.left-navbar .navbar::-webkit-scrollbar-track{
    margin-top: 5.5rem;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.left-navbar .navbar::-webkit-scrollbar-thumb{
    border-radius: 1rem;
}

.left-navbar .navbar:hover::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.2);
    border: .4rem solid #fff;
}

.left-navbar .navbar-s{
    position: fixed;
    top: 5.6rem; left: 0;
    width: 7.2rem;
    height: calc(100vh - 5.6rem);
    background-color: #fff;
    z-index: 99;
}

.left-navbar .navbar-s a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 0 1.4rem 0;
    font-size: 1rem;
    color: #666;
}

.left-navbar .navbar-s a:hover{
    background-color: rgba(0,0,0,.05);
}

.left-navbar .navbar-s a i{
    font-size: 2.4rem;
    color: #555;
    margin-bottom: .6rem;
}

.left-navbar .navbar-s .active,
.left-navbar .navbar-s .active i{
    color: red;
}

/* header section starts */
header{
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    z-index: 1;
}

header input[type="checkbox"]{
    display: none;
}

header .header-a{
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: .1rem solid rgba(0,0,0,.1);
    height: 5.6rem;
    background-color: #fff;
    width: 100%;
}

header .header-a .box{
    display: flex;
    align-items: center;
}

header .header-a .main-menu{
    flex: 0 0 16.5rem;
}

header .header-a .main-menu label i{
    color: #333;
    padding: .8rem;
    cursor: pointer;
    border-radius: 50%;
}

header .header-a .main-menu label i:active{
    background-color: rgba(0,0,0,.1);
}

header .header-a .main-menu .logo{
    display: flex;
    padding: 0 1.4rem;
    position: relative;
}

header .header-a .main-menu .logo img{
    margin-left: .2rem;
}

header .header-a .main-menu .logo span{
    font-size: 1rem;
    color: #666;
    line-height: 4rem;
    position: absolute;
    top: -1.9rem;
    left: 11rem;
}

header .header-a .search{
    flex: 0 1 73rem;
    display: flex;
    justify-content: flex-end;
}

header .header-a .search .search-box{
    width: 100%;
    border: .1rem solid rgba(0,0,0,.1);
    margin-left: 5rem;
    height: 3.2rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

header .header-a .search .search-box input[type=text]{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 1rem;
    font-size: 1.7rem;
    border-radius: .2rem;
}

header .header-a .search .search-box input[type=text]:focus{
    border: .1rem solid #065fd4;
}

header .header-a .search .search-box-s{
    background-color: #fff;
    width: 100%; 
    height: 3.2rem;
    left: 0;
    position: absolute;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
}

header .header-a .search .search-box-s a i{
    color: #666;
    font-size: 3rem;
    padding: 1rem;
}

header .header-a .search .search-box-s input[type=text]{
    width: 100%;
    height: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .2rem solid rgba(0,0,0,.5);
    font-size: 1.7rem;
    padding-left: .2rem;
}

header .header-a .search .search-box-s input[type=text]:focus{
    border-bottom: .15rem solid #0445f7e7;
}

header .header-a .search .icon-1{
    padding: .1rem .6rem;
    width: 8rem;
    border: .1rem solid rgba(0,0,0,.1);
    border-left: none;
    height: 3.2rem;
    background-color: rgba(0,0,0,.03);
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    margin-right: .4rem;
}

header .header-a .search .icon-1 label i{
    color: #999;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

header .header-a .search .icon-2{
    padding: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-a .search .icon-2 i{
    color: #555;
    font-size: 2.4rem;
}

header .header-a .box .youtube-apps{
    position: relative;
}

header .header-a .box .youtube-apps label i{
    border-radius: 50%;
}

header .header-a .box .youtube-apps label i:active{
    background-color: rgba(0,0,0,.1);
}

header .header-a .box .youtube-apps .app-list{
    position: absolute;
    top: 100%;
    left: 0;
    border-left: .1rem solid rgba(0,0,0,.1);
    border-right: .1rem solid rgba(0,0,0,.1);
    width: 22rem;
    transform: scaleY(0);
    transition: 0s;
    z-index: 100;
    background-color: #fff;
}

header .header-a .box .youtube-apps .app-list .app-list-box{
    padding: .8rem 0;
    border-bottom: .1rem solid rgba(0,0,0,.1);
}

header .header-a .box .youtube-apps .app-list .app-list-box a{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1.4rem;
    line-height: 4rem;
    padding: 0 1.6rem;
}

header .header-a .box .youtube-apps .app-list .app-list-box a i{
    color: red;
    margin-right: 1.2rem;
}

header .header-a .box .youtube-apps .app-list .app-list-box a:hover{
    background-color: rgba(0,0,0,.15);
}

header #apps-toggler:checked ~ label .apps-toggler-close{
    z-index: 100;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: transparent;
    cursor: pointer;
}

header #apps-toggler:checked ~ .header-a .box .youtube-apps .app-list{
    transform: scaleY(1);
}

header .header-a .box .youtube-apps label .open{
    color: #555;
    padding: .8rem;
    font-size: 2.4rem;
    margin-right: .8rem;
    margin-left: 2.4rem;
    cursor: pointer;
} 

header .header-a .box .settings{
    position: relative;
}

header .header-a .box .settings label i{
    border-radius: 50%;
}

header .header-a .box .settings label i:active{
    background-color: rgba(0,0,0,.1);
}

header .header-a .box .settings .setting-list{
    position: absolute;
    top: 100%;
    right: 0;
    border-left: .1rem solid rgba(0,0,0,.1);
    border-right: .1rem solid rgba(0,0,0,.1);
    width: 30rem;
    z-index: 100;
    transform: scaleY(0);
    transition: 0s;
    background-color: #fff;
}

header .header-a .box .settings .setting-list .setting-list-box{
    padding: .8rem 0;
    border-bottom: .1rem solid rgba(0,0,0,.1);
}

header .header-a .box .settings .setting-list .setting-list-box a{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1.4rem;
    line-height: 4rem;
    padding: 0 1.6rem;
    position: relative;
}

header .header-a .box .settings .setting-list .setting-list-box a i{
    color: #666;
    margin-right: 1.2rem;
}

header .header-a .box .settings .setting-list .setting-list-box a .next{
    position: absolute;
    right: 0;
}

header .header-a .box .settings .setting-list .setting-list-box a:hover{
    background-color: rgba(0,0,0,.15);
}

header #setting-toggler:checked ~ .header-a .box .settings .setting-list{
    transform: scaleY(1);
}

header #setting-toggler:checked ~ label .setting-toggler-close{
    z-index: 100;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: transparent;
    cursor: pointer;
}

header .header-a .box .settings label .open{
    color: #555;
    padding: .8rem;
    font-size: 2.4rem;
    margin-right: .8rem;
    cursor: pointer;
} 

header .header-a .box .sign-in{
    padding: .5rem 1.1rem;
    border: .1rem solid #065fd4;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    color: #065fd4;
    font-weight: bolder;
    height: 4rem;
}

header .header-a .box .sign-in .material-icons-outlined{
    position: absolute;
    visibility: hidden;
}

header .header-a .box .sign-in span{
    margin-left: .8rem;
    font-size: 1.4rem;
}

.tooltip{
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    padding: 1rem .7rem;
    display: flex;
    border-radius: .2rem;
    white-space: nowrap;
    visibility: hidden;
    transition: 0s;
    z-index: 100;
}

header .header-a .search .icon-1 #t1,
header .header-a .search .icon-2 #t2{
    top: 6.5rem;
}

header .header-a .box .youtube-apps label .open #t3,
header .header-a .box .settings label .open #t4{
    top: 5.7rem;
    transform: translateX(-35%);
}

header .header-a .search .icon-1:hover #t1,
header .header-a .search .icon-2:hover #t2,
header .header-a .box .youtube-apps label .open:hover #t3,
header .header-a .box .settings label .open:hover #t4{
    visibility: visible;
}

header .header-b{
    display: flex;
    padding-left: 9.5rem;
    background-color: #fff;
    position: relative;
}

header .header-b .list{
    display: flex;
    height: 5.6rem;
    border-bottom: .1rem solid rgba(0,0,0,.1);
    list-style: none;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
}

header .header-b .list::-webkit-scrollbar{
    display: none;
}

header .header-b .list li a{
    display: flex;
    font-size: 1.4rem;
    color: #333;
    white-space: nowrap;
    padding: 0 1.2rem;
    background-color: rgba(0,0,0,.05);
    border: .1rem solid rgba(0,0,0,.1);
    height: 3.2rem;
    margin-right: .6rem;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
}

header .header-b .list li a:hover{
    background-color: rgba(0,0,0,.1);
}

header .header-b .list li a.active{
    color: #fff;
    background-color: black;
}

header .header-b .previous{
    position: absolute;
    background-color: #fff;
    color: #333;
    left: 7.2rem; top: 0;
    width: 5.6rem; height: 5.6rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* pending: function */
}

header .header-b .next{
    position: absolute;
    background-color: #fff;
    color: #333;
    right: 0; top: 0;
    width: 5.6rem; height: 5.6rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-b .previous .tooltip{
    top: 6rem; left: 0;
}

header .header-b .next .tooltip{
    top: 6rem;
}

header .header-b .next:hover .tooltip,
header .header-b .previous:hover .tooltip{
    visibility: visible;
}

header .header-b .previous::after{
    content: "";
    background-image: linear-gradient(to right, #fff, transparent);
    width: 5rem; height: 5.6rem;
    position: absolute;
    left: 5.5rem;
}

header .header-b .next::before{
    content: "";
    background-image: linear-gradient(to right, transparent, #fff);
    width: 5rem; height: 5.6rem;
    position: absolute;
    right: 5.6rem;
}

header .header-b .previous i,
header .header-b .next i{
    font-size: 2rem;
    border-radius: 50%;
    padding: .8rem;
}

header .header-b .previous:active i, 
header .header-b .next:active i{
    background-color: rgba(0,0,0,.1);
}

/* header section ends */

/* content section starts */
.heading{
    font-size: 2rem;
    color: #333;
    margin-left: .8rem;
    width: 100%;
    grid-column: 1 / span 4;
}

.content{
    width: 100%;
    padding-left: 7.2rem;
    padding-top: 11.2rem;
    padding-bottom: 5rem;
    background-color: rgba(0,0,0,.04);
    position: absolute;
    top: 0;
    z-index: -2;
}

.content .container{
    margin: 0 2.4rem;
    padding-top: 1.6rem;
    border-top: .5rem solid rgba(0,0,0,.1);

}

.content .container:first-child{
    border: none;
}

.content .container .container-unit{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 -.8rem;
    padding-top: 1.6rem;
}

.content .container input[type="radio"]{
    display: none;
}

.content .breaking-news #breaking-news:checked ~ .container-unit .more,
.content .trending #trending:checked ~ .container-unit .more{
    display: inline-block;
}

.content .container #breaking-news:checked ~ label[for="breaking-news"] .expand-more,
.content .container #trending:checked ~ label[for="trending"] .expand-more{
    display: none;
}

.content .container label .expand-more{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    height: 4.8rem;
    cursor: pointer;
}

.content .container label .expand-more:hover{
    background-color: rgba(0,0,0,.05);
    color: #333;
}

.content .container .container-unit .more{
    display: none;
}

.content .container .container-unit .container-sub{
    width: 100%; height: 100%;
    cursor: pointer;
    padding: 0 .8rem 2.7rem .8rem;
}

.content .container .container-unit .container-sub .vid{
    position: relative;
}

.content .container .container-unit .container-sub .vid .play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.content .container .container-unit .container-sub .vid:hover .play{
    display: inline-block;
}

.content .container .container-unit .container-sub .vid video{
    width: 100%;
}

.content .container .container-unit .container-sub .vid span{
    position: absolute;
    bottom: 0; right: 0;
    background-color: #333;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    padding: 0 .4rem;
    margin: .8rem;
    border-radius: .1rem;
    z-index: 1;
}

.content .container .container-unit .container-sub .vid-info{
    display: flex;
    max-width: 100%;
    padding-top: 1.2rem;
    position: relative;
}

.content .container .container-unit .container-sub .vid-info img{
    width: 3.6rem; height: 3.6rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1.2rem;
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub{
    display: flex;
    flex-direction: column;
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub h3{
    font-size: 1.4rem;
    height: 4rem;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis; /* pending: only works with specific width */
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub .user{
    padding-top: .7rem;
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub .user span{
    color: #666;
    font-size: 1.4rem;
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub .user span.name{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub .user span i{
    font-size: .5rem;
    padding: .3rem;
    line-height: .8rem;
    vertical-align: middle;
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub .user span .tick{
    font-size: 1.4rem;
    margin-left: .3rem;
}

.content .container .container-unit .container-sub .vid-info .vid-info-sub .user span .alt{
    display: none;
}

.content .container .container-unit .container-sub .vid-info .more-info{
    color: #333;
    font-size: 2.4rem;
    visibility: hidden;
    padding: 0 .8rem;
}

.content .container .container-unit .container-sub:hover .vid-info .more-info{
    visibility: visible;
}

/* content section ends */

/* footer section starts */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 5.6rem;
    visibility: hidden;
    border-top: .1rem solid rgba(0,0,0,.1);
    z-index: 0;
}

footer a{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #333;
}

/* footer section ends */






/* media queries */
@media only screen and (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        display: none;
    }

    .content label .expand-more{
        display: none;
    }

    .content .container{
        margin: 0;
        padding: 0;
        border: none;
    }

    .content .container:first-child{
        margin-top: 3rem;
    }

    .content .container label .expand-more{
        display: none;
    }

    .content .container .container-unit{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .content .container .container-unit .container-sub{
        padding: 0 0 2.4rem 0;
    }

    .content .container .container-unit .container-sub .vid-info{
        padding-top: .8rem;
    }
        
    .content .container .container-unit .container-sub .vid-info img{
        width: 5rem; height: 5rem;
        margin-left: 1.2rem;
    }

    .content .container .container-unit .container-sub .vid-info .vid-info-sub .user span{
        font-size: 1.2rem;
    }

    .content .container .container-unit .container-sub .vid-info .vid-info-sub .user span.name{
        display: inline-block;
    }

    .content .container .container-unit .container-sub .vid-info .vid-info-sub .user span .tick{
        display: none;
    }

    .content .container .container-unit .container-sub .vid-info .vid-info-sub .user span .alt{
        display: inline-block;
    }

}

@media only screen and (max-width:768px){
    html{
        font-size: 55%;
    }
    
    .left-navbar .navbar-s,
    header .header-a .main-menu label,
    header .header-a .main-menu .logo span,
    header .header-a .search .search-box,
    header .header-a .search .icon-2,
    header .header-a .box .youtube-apps,
    header .header-a .box .settings,
    header .header-a .box .sign-in span,
    header #search-input:checked ~ .header-a .box .sign-in,
    header .header-b .previous,
    header .header-b .next,
    .content .container .container-unit .lap-only,
    .tooltip,
    body::-webkit-scrollbar{
        display: none;
    }

    header .header-a{
        padding: 0;
        box-shadow: 0 .1rem .5rem rgba(0,0,0,.1);
        z-index: 1;
    }

    header .header-a .main-menu{
        padding: 0;
    }

    header .header-a .main-menu .logo span{
        left: 12.5rem;
    }
    
    header .header-a .search .icon-1{
        padding: 1.2rem;
    }

    header .header-a .search .icon-1{
        background-color: transparent;
        border: none;
        width: auto; height: auto;
    }
    
    header .header-a .search .icon-1 label i{
        color: #555;
        font-size: 3rem;
        padding: .8rem;
    }

    header #search-input:checked ~ label .search-input-close{
        background-color: rgba(0,0,0,.7);
        position: fixed;
        top: 5.6rem; bottom: 0;
        left: 0; right: 0;
        z-index: 100;
    }

    header #search-input:checked ~ .header-a .search .search-box-s{
        display: flex;
    }

    header .header-a .box .sign-in{
        width: auto; height: auto;
        border: none;
        padding: 1.2rem;
        color: #555;
    }

    header .header-a .box .sign-in .material-icons{
        visibility: hidden;
    }

    header .header-a .box .sign-in .material-icons-outlined{
        visibility: visible;
    }

    header .header-a .box .youtube-apps label .open,
    header .header-a .box .settings label .open,
    header .header-a .search .icon-1{
        margin: 0;
    }

    header .header-b{
        padding-left: 0;
    }

    header .header-b .list li a.active{
        margin-left: 2rem;
        background-color: #555;
    }

    .content{
        padding-left: 0;
        padding-top: 9.5rem;
    }

    .content .container .container-unit{
        grid-template-columns: 50% 50%;

    }
    
    .heading{
        grid-column: 1 / span 2;
    }

    .content #breaking-news:checked ~ .breaking-news .lap-only,
    .content #trending:checked ~ .trending .lap-only{
        display: inline-block;
    }

    .content .container .container-unit .container-sub .vid-info img{
        width: 5rem; height: 5rem;
    }
    
    .content .container .container-unit .container-sub .vid-info .more-info{
        visibility: visible;
    }
    
    footer{
        visibility: visible;
    }

    /* pending: hide, unhide header on scroll (+JS) */
}

@media only screen and (max-width:1280px){

}